.appbarContainer {
  margin: 0 !important;
  padding: 0 !important;
}

.fullscreen-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12vh;
  background-color: #1A1A1A;
  color: white;
}

.text {
  text-align: center;
  font-size: 3rem;
}

.titles {
  font-weight: bold !important;
}

.appbarContainer {
  flex-grow: 1 !important;
}

.appbar {
  background-color: #1A1A1A;
}

.logo {
  width: 60px;
}

.titleAppbar {
  flex-grow: 1 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.titleAppbar:hover {
  color: #FF4400;
}

.headerTable{
  background-color: #FF4400;
}

.icon {
  margin-left: 16px !important;
}

@media (max-width: 600px) {
  .text {
    font-size: 2rem;
  }
}