.dashboardCTContainer {
  width: 100% !important;
  height: 100vh !important;
}

.DCTContainer {
  padding: 20px;
}

.addRiderButtonDCT {
  display: flex;
  justify-content: center;
}

.headerTableDCT {
  display: flex;
  justify-content: center;
  background-color: #ff7f00;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #d06800;
  color: #1a1a1a;
}

.headerTableDCT:hover {
  color: white;
}

.sendButtonDCT {
  background-color: #1a1a1a !important;
  padding: 5px 30px 5px 30px !important;
  color: white !important;
  font-weight: bolder !important;
}

.sendButtonDCT:hover {
  background-color: #0C0C0C !important;
  color: #ff7f00 !important;
}

.tableDCTContainer {
  border: 1px solid #1a1a1a8f !important;
}