body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.appbarContainer {
  margin: 0 !important;
  padding: 0 !important;
}

.fullscreen-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12vh;
  background-color: #1a1a1a;
  color: white;
}

.text {
  text-align: center;
  font-size: 3rem;
}

.titles {
  font-weight: bold !important;
  font-size: 1rem !important;
}

.titles:hover {
  color: white !important;
}

.appbarContainer {
  flex-grow: 1 !important;
}

.appbar {
  background-color: #1a1a1a;
}

.logo {
  width: 60px;
}

.titleAppbar {
  flex-grow: 1 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.titleAppbar:hover {
  color: #ff7f00;
}

.headerTable {
  background-color: #ff7f00;
}

.icon {
  margin-left: 16px !important;
}

.dashboardContainer {
  width: 100%;
}

.dashboardTableRow {
  border-bottom: 1px solid #ff7f00 !important;
  background-color: #ffffff;
}

.dashboardTableRow:hover {
  font-weight: bold;
}

.dashboardTableContainer {
  max-height: 80vh;
  padding: 10px !important;
  padding-bottom: 30px !important;
}

.rootTournamentNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* Ajusta según sea necesario */
}

.paperTournamentNotFound {
  padding: 8px;
  /* Ajusta el padding según sea necesario */
  text-align: center;
  background-color: transparent;
  /* Fondo transparente */
}

.imageTournamentNotFound {
  margin-top: 16px;
  max-width: 50%;
}

.messageContainer {
  background-color: #1a1a1a;
}

.textTournamentNotFound {
  color: #ff7f00 !important;
  font-size: 3rem !important;
}

.textTournamentNotFound:hover {
  color: white !important;
}

@media (max-width: 600px) {
  .titleAppbar {
    font-size: 1.5rem !important;
  }

  .text {
    font-size: 1.5rem;
  }

  .textTournamentNotFound {
    font-size: 2rem !important;
  }
}